/* -----------------------------------------------------
    ?laptop 
------------------------------------------------------*/
@media (max-width: 1024px) {
  .container {
    max-width: 74rem;
  }
  /* -----------------------------------------------------
    !styles rules for section-hero start
------------------------------------------------------*/
  .hero {
    background-position-x: 135%;
  }
  /* -----------------------------------------------------
    !styles rules for section-hero end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-shop-items start
------------------------------------------------------*/
  .shop-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 270px);
  }
  .shop-items-1 {
    grid-column: span 1;
  }
  .shop-items-2 {
    grid-column: span 1;
  }
  .shop-items-3 {
    grid-column: span 2;
  }
  .shop-items-4 {
    grid-column: span 1;
  }
  .shop-items-5 {
    grid-column: span 1;
  }
  .shop-items-6 {
    grid-column: span 2;
  }
  /* -----------------------------------------------------
    !styles rules for section-shop-items end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-best-products start
------------------------------------------------------*/
  .best-products-content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* -----------------------------------------------------
    !styles rules for section-best-products end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-good-natural start
------------------------------------------------------*/
  .good-natural-content {
    padding: 1rem;
    width: 50%;
  }
  /* -----------------------------------------------------
    !styles rules for section-good-natural end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-brand end
------------------------------------------------------*/
  .brand-content {
    grid-template-columns: repeat(3, 1fr);
  }
  /* -----------------------------------------------------
    !styles rules for section-brand end
------------------------------------------------------*/
}
