/* -----------------------------------------------------
    ?mobile 
------------------------------------------------------*/
@media (max-width: 568px) {
  /* -----------------------------------------------------
    !styles rules for section-hero start
------------------------------------------------------*/
  .hero {
    background-size: 500px;
    background-position: center right;
  }
  /* -----------------------------------------------------
    !styles rules for section-hero end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-best-products start
------------------------------------------------------*/
  .best-products-content {
    grid-template-columns: repeat(1, 1fr);
  }

  /* -----------------------------------------------------
!styles rules for section-best-products end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-good-natural start
------------------------------------------------------*/
  .section-good-natural {
    background-position-x: 70%;
    background-position-y: 20%;
  }
  .section-good-natural .container {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .good-natural-content {
    padding: 0rem;
    width: 100%;
  }
  /* -----------------------------------------------------
!styles rules for section-good-natural end
------------------------------------------------------*/
}
