/* -----------------------------------------------------
    ?tablet 
------------------------------------------------------*/
@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  /* -----------------------------------------------------
    !styles rules for section-hero start
------------------------------------------------------*/
  .header-center-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 8rem 2rem;
  }
  .icon-xmark {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 85%;
    display: inline-block;
  }
  .hambergar-menu {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--cls-white);
    transition: all 0.3s;
  }
  .visibility {
    z-index: -1;
    opacity: 1;
  }
  .hambergar-menu i {
    cursor: pointer;
  }
  .header-right__icon:nth-child(1) {
    display: none;
  }
  .header-right__icon:nth-child(3) {
    display: none;
  }
  .hero {
    text-align: center;
    background-size: 600px;
    background-position-x: 200%;
  }
  .hero-left__text {
    margin: 0 auto;
  }
  /* -----------------------------------------------------
    !styles rules for section-hero end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-shop-items start
------------------------------------------------------*/
  .shop-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 270px);
  }

  .shop-items-3 {
    grid-column: span 1;
  }

  .shop-items-6 {
    grid-column: span 1;
  }
  /* -----------------------------------------------------
  !styles rules for section-shop-items end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-best-products start
------------------------------------------------------*/
  .best-products-content {
    grid-template-columns: repeat(2, 1fr);
  }

  /* -----------------------------------------------------
  !styles rules for section-best-products end
------------------------------------------------------*/
  /* -----------------------------------------------------
    !styles rules for section-good-natural start
------------------------------------------------------*/
  .section-good-natural {
    background-position-x: 70%;
    background-position-y: 20%;
  }
  .section-good-natural .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .good-natural-content {
    padding: 1rem;
    width: 80%;
  }
  /* -----------------------------------------------------
  !styles rules for section-good-natural end
------------------------------------------------------*/
}
