@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* !font family */
  --ff-label: "Pacifico", cursive;
  --ff-body: "Poppins", sans-serif;
  /* !font size */
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  --h1: 6.2rem;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;
  --text: 1.6rem;
  --label: ;
  --a: 1.6rem;
  /* !colors */
  /* 
  #0a472e
  #ff3b22
  #a8b324
  #555
  #f3e3dc
  */
  --cls-white: #fff;
  /* Spacing */
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
}
/* -----------------------------------------------------
    !removing default styles start
------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 10px = 1rem */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-body);
  line-height: 1.2;
}
h1 {
  font-size: var(--h1);
  font-weight: 900;
}
p {
  font-size: var(--text);
}
img,
svg {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-size: var(--a);
}
li {
  list-style: none;
}
/* -----------------------------------------------------
    !removing default styles end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for common class start
------------------------------------------------------*/
.container {
  max-width: 114rem;
  margin: 0 auto;
}
.border {
  border: 1px solid red;
}
.btn {
  border: none;
  font-size: var(--text);
  font-weight: 600;
  border-radius: 3rem;
  color: var(--cls-white);
  background-color: #0a472e;
  transition: all 0.5s;
  cursor: pointer;
}
.hide {
  display: none;
}

/* -----------------------------------------------------
    !styles rules for common class end
------------------------------------------------------*/
