/* -----------------------------------------------------
    !styles rules for section-hero start
------------------------------------------------------*/
.section-hero {
  height: 100vh;
  background-image: url("../images/image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}
header {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hambergar-menu {
  display: none;
}
.header-left__logo {
  width: 10rem;
}
.icon-xmark {
  display: none;
}
.header-center-menu {
  display: flex;
  gap: 3.2rem;
}
.header-center-menu__item {
  color: var(--cls-white);
  font-weight: 500;
  transition: all 0.5s;
}
.header-center-menu__item:hover {
  color: #0a472e;
}
.header-right {
  display: flex;
  gap: 1.6rem;
}
.header-right__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--a);
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--cls-white);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.header-right__icon:hover {
  background-color: #a8b324;
  color: var(--cls-white);
}
/* ! hero */
.hero {
  height: calc(100vh - 12vh);

  gap: 1.3rem;
  color: var(--cls-white);
  background-image: url("../images/banner-02.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center right;
}
.hero .container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}
.hero-left__label {
  font-size: 2rem;
  font-family: var(--ff-label);
}
.hero-left__heading {
  letter-spacing: -1px;
}
.hero-left__text {
  margin-top: 1.2rem;
  width: 40%;
}
.hero-left__btn {
  padding: 1.8rem 3.2rem;
  margin-top: 2.4rem;
}
.hero-left__btn:hover {
  background-color: var(--cls-white);
  color: #0a472e;
}

/* -----------------------------------------------------
    !styles rules for section-hero end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-shop-items start
------------------------------------------------------*/
.section-shop-items {
  margin: 9rem 0;
}
.shop-items {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 270px);
  gap: 1rem;
}
.shop-items-1 {
  grid-column: span 3;
  background-image: url("../images/H14-banner_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-items-2 {
  grid-column: span 2;
  background-color: #fbe8c9;
  background-repeat: no-repeat;
}
.shop-items-2,
.shop-items-6 {
  padding: 1.5rem !important;
  height: 100%;
  text-align: center;
}
.shop-items-2 .shop-item-body,
.shop-items-6 .shop-item-body {
  height: 100%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  transition: all 0.5s;
}
.shop-items-2 .shop-item-body:hover,
.shop-items-6 .shop-item-body:hover {
  border: 2px solid #a8b324;
}
.shop-items-2 .shop-item-body span:nth-child(1) {
  margin-bottom: 1rem;
}
.shop-items-2 .shop-item-body span:last-child {
  margin-top: 1.6rem;
}
.shop-items-3 {
  grid-column: span 4;
  background-image: url("../images/H14-banner_04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-items-4 {
  grid-column: span 4;
  background-image: url("../images/h3_banner-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-items-5 {
  grid-column: span 3;
  background-image: url("../images/H14-banner_06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.shop-items-6 {
  grid-column: span 2;
  background-color: #e7f6d4;
}
[class^="shop-items-"] {
  padding: 4.5rem;
  border-radius: 0.8rem;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
[class^="shop-items-"]:hover .btn-shop-item {
  bottom: 4.5rem;
}
.shop-items-1 h5,
.shop-items-3 h4 {
  color: #ff3b22 !important;
}
.shop-items-1 h5,
.shop-items-3 h5,
.shop-items-5 h5,
.shop-items-6 h5 {
  margin-bottom: 1rem;
}
.shop-items-4 h4,
.shop-items-5 h4,
.shop-items-6 h4 {
  margin-bottom: 1rem;
}
.shop-item-body h4 {
  color: #0a472e;
}
.shop-item-body h5 {
  color: #a8b324;
}
.shop-item-body span {
  color: #555;
}
.shop-item-body p {
  color: #0a472e;
}
.btn-shop-item {
  padding: 1.2rem 2.5rem;
  position: absolute;
  left: 4.5rem;
  bottom: 2.8rem;
}
/* -----------------------------------------------------
    !styles rules for section-shop-items end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-best-products start
------------------------------------------------------*/
.section-best-products {
  margin: 9rem 0;
}

.best-products-header h2 {
  color: #0a472e;
}
.best-products-content {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
[class^="product-"] {
  text-align: center;
  overflow: hidden;
  padding: 1.5rem;
}
[class^="product-"]:hover .product-body h4 {
  color: #0a472e;
}
.product__img {
  transform: scale(1);
  transition: all 0.5s;
}
.product__img:hover {
  transform: scale(1.1);
}
.product-body p {
  margin-top: 1rem;
}
.product-body h4 {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f3e3dc;
  padding-bottom: 1.2rem;
  color: #a8b324;
  transition: all 0.5s;
}
.btn-procuts {
  padding: 1rem 2.5rem;
}
.best-products-footer {
  text-align: center;
  margin-top: 6rem;
}
.best-products-footer span:last-child {
  font-weight: 600;
  color: #a8b324;
  cursor: pointer;
}
/* -----------------------------------------------------
    !styles rules for section-best-products end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-good-natural start
------------------------------------------------------*/
.section-good-natural {
  padding: 6rem 0;
  background-image: url("../images/H14-bg_02.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 60%;
  background-position-y: 20%;
}
.section-good-natural .container {
  display: flex;
  justify-content: end;
  align-items: center;
}
.good-natural-content {
  padding: 1rem;
  width: 40%;
}
.good-natural-body {
  color: #555;
}
.good-natural-body h5 {
  color: #a8b324;
  margin-bottom: 1rem;
}
.good-natural-body h2 {
  color: #0a472e;
  margin-bottom: 2rem;
}
[class^="good-natural-cart-"] {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.natural-cart__img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.natural-cart-right h4 {
  color: #a8b324;
}
.good-natural-cart-footer {
  border-top: 1px solid #e3e9e9;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.good-natural-cart-footer p span {
  font-size: var(--h6);
  color: #a8b324;
  font-weight: 600;
}
.naturel-btn {
  margin-top: 1rem;
  padding: 1.2rem 2.5rem;
  margin-bottom: 0;
}

/* -----------------------------------------------------
    !styles rules for section-good-natural end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-best-top-products start
------------------------------------------------------*/
.section-best-top-products {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.best-top-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.best-left {
  border: 1px solid #e3e9e9;
  border-radius: 0.8rem;
}
.best,
.top {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2rem;
}
.best-left h4 {
  color: #0a472e;
  border-bottom: 1px solid #e3e9e9;
  padding: 2.4rem;
}
.best-left-content-cart__img {
  width: 8rem;
}
[class^="best-left-content-cart-"] {
  display: flex;
  align-items: center;
  padding: 1.4rem;
  border-bottom: 1px solid #e3e9e9;
}
.bast-cart-body {
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: center;
}
.product-rating {
  display: inline;
  padding: 0;
  font-size: 1.4rem;
}
.product-rating .fa-star {
  color: #f7cc34;
}
.bast-cart-body h6 {
  color: #a8b324;
}
.view-all-btn {
  border: none;
  padding: 1.6rem;
  background: none;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  color: #0a472e;
}
.best-right {
  border-radius: 0.8rem;
  padding: 3rem;
  color: #fff;
  background-image: url("../images/H14-banner_01.jpg");
  background-repeat: no-repeat;
  background-position-x: 0;
  transition: all 0.5s;
}
.top-right {
  background-image: url("../images/H14-banner_02.jpg");
  background-position-x: 0;
  transition: all 0.5s;
}
.best-right:hover {
  background-position-x: 100%;
}
.best-right h5 {
  color: #a8b324;
}
.best-right p {
  margin-top: 1rem;
  color: #e3e9e9;
}
/* -----------------------------------------------------
    !styles rules for section-best-top-products end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-reviews start
------------------------------------------------------*/
.section-reviews {
  height: 60vh;
  background-image: url("../images/H14-bg_04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.review-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/H14-bg_03.png");
  background-repeat: no-repeat;
  background-color: #0a472e;
  color: #a8b324;
  padding: 1.6rem;
}
.review-content h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}
.review-content span {
  margin-top: 1rem;
  border-bottom: 1px solid #e3e9e9;
  font-weight: 600;
}
/* -----------------------------------------------------
    !styles rules for section-reviews end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-blogs start
------------------------------------------------------*/
.section-blogs {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
.blog-header {
  color: #0a472e;
  margin-bottom: 6rem;
}
.blogs-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.blog-mani,
.blog-item-head-1,
.blog-item-head-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/blogs/blog-new01-800x452.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  padding: 4rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}
.blog-mani:hover,
.blog-item-head-1:hover,
.blog-item-head-2:hover {
  background-size: 110%;
}
.blog-mani p {
  background-color: #a8b324;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  color: #fff;
  border-radius: 0.8rem;
  margin-bottom: 1.8rem;
}

.blog-time {
  margin-bottom: 1.2rem;
}
.blog-item-head-1 {
  background: url("../images/blogs/blog-new04-800x452.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blog-item-head-2 {
  background: url("../images/blogs/blog-new05-800x452.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blog-item-1 {
  margin-bottom: 1.8rem;
}
.blog-item-1,
.blog-item-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}
.blog-item-body h4 {
  color: #0a472e;
  margin-bottom: 0.4rem;
}
.blog-item-body {
  margin-bottom: 1.4rem;
}
.btn-read-more {
  background: none;
  color: #a8b324;
  margin-top: 0.8rem;
}
/* -----------------------------------------------------
    !styles rules for section-blogs end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for section-brand start
------------------------------------------------------*/
.section-brand .container {
  border-top: 1px solid #e3e9e9;
  padding: 6rem 0;
}
.brand-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.brand__img {
  display: block;
  width: 10rem;
  opacity: 0.4;
  transition: 0.5s;
  cursor: pointer;
}
.brand__img:hover {
  opacity: 1;
}

/* -----------------------------------------------------
    !styles rules for section-brand end
------------------------------------------------------*/
/* -----------------------------------------------------
    !styles rules for footer start
------------------------------------------------------*/
.footer-content-1 {
  background-color: #13472e;
}
.services {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.service-box {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.service__img {
  width: 5rem;
}
.service-text h6 {
  color: #a8b324;
  margin-bottom: 0.4rem;
}
.service-text span {
  color: #e3e9e9;
}
/* -----------------------------------------------------
    !styles rules for footer end
------------------------------------------------------*/
